<section>
  <h1>Deck Details</h1>
    
  <h2><%= @magic_deck.name %></h2>
  <p>This deck has: <%= @card_count %> cards</p>
  <ul>
    <li>Minimum Card Count: <%= @magic_deck.minimum_card_count %></li>
    <li>Format: <%= @magic_deck.format  %></li>
    <li>Legal? - <%= @magic_deck.qualifies  %></li>
  </ul>
</section>

<!--
  Future Implementation

  <h3>Legality</h3>
  <% if @magic_deck.qualifies? %>
    <li><%= "This deck is #{@magic_deck.format} legal." %></li>
  <% else %>
    <li><%= "This deck is not #{@magic_deck.format} legal." %></li>
  <% end %>
-->
