<header>
  <%= link_to "Cards Index", "/cards" %>
  <%= link_to "Magic Decks Index", "/magic_decks" %>
  <h1>Deck Details</h1>
</header>
<section>
  <h2><%= link_to "#{@magic_deck.name}", "/magic_decks/#{@magic_deck.id}/cards" %></h2>
  <p>This deck has: <%= @card_count %> cards</p>
  <ul>
    <li>Minimum Card Count: <%= @magic_deck.minimum_card_count %></li>
    <li>Format: <%= @magic_deck.format  %></li>
    <li>Legal? - <%= @magic_deck.qualifies  %></li>
  </ul>
  <p><%= link_to "Update #{@magic_deck.name}", "/magic_decks/:id/edit" %></p>
</section>

<!--
  Future Implementation

  <h3>Legality</h3>
  <% if @magic_deck.qualifies? %>
    <li><%= "This deck is #{@magic_deck.format} legal." %></li>
  <% else %>
    <li><%= "This deck is not #{@magic_deck.format} legal." %></li>
  <% end %>
-->
