<h1>Cards Index</h1>

<section>
  <% @cards.each do |card| %>
    <h3>Name:</h3>
    <p><%= card.name %></p>
    <h3>Mana Cost:</h3>
    <p><%= card.mana_cost %></p>
    <h3>Type:</h3>
    <p><%= card.card_type %> - <%= if card.archtype == nil then "N/A" else card.archtype end %>
    <h3>Rarity:</h3>
    <p><%= card.rarity %></p>
    <h3>Power/Toughness:</h3>
    <p><%= if card.power_toughness == nil then "N/A" else card.power_toughness end %>
    <h3>Expansion</h3>
    <p><%= card.expansion %></p>
    <h3>Legal?</h3>
    <p><%= card.legal %></p>
  <% end %>
<section>