<header>
  <%= link_to "Cards Index", "/cards"%>
  <h1>Card Details</h1>
</header>
<section>
  <h2><%= @card.name %></h2>
  <ul>
    <li>Mana Cost: <%= @card.mana_cost %></li>
    <li>Type - Archtype: <%= @card.card_type %> - <%= if @card.archtype == nil then "N/A" else @card.archtype end %></li>
    <li>Rarity: <%= @card.rarity %></li>
    <li>Power/Toughness: <%= if @card.power_toughness == nil then "N/A" else @card.power_toughness end %></li>
    <li>Expansion: <%= @card.expansion %></li>
    <li>Legal? - <%= @card.legal %></li>
  </ul>
</section>